#auth_layout{
    background-image: url(images/login.jpeg);
}
.link_card{
    cursor: pointer;
    color:#fff; text-decoration: none;
    display: block;
    margin-bottom: 10px;
}
.link_card:hover .card-body{
    background-color: purple!important;
}
.link_card:hover .card-header{
    background-color: blueviolet!important;
}